.tile {
    border: 1px solid black;
    background-color: white;
    height: 100%;

    &.top-border-thick {
        border-top-width: 2px;
    }

    &.right-border-thick {
        border-right-width: 2px;
    }

    &.bottom-border-thick {
        border-bottom-width: 2px;
    }

    &.left-border-thick {
        border-left-width: 2px;
    }

    &.focused {
        border: 3px solid blue;
        background-color: lightblue;
    }

    &.variable-input {
        color: darkgreen;
    }

    ion-input {
        --highlight-color-focused: unset;
        caret-color: rgba(0, 0, 0, 0);
        text-align: center;
        opacity: 1;
        height: 100%;
        min-height: unset;
        font-size: 7vw;
    }
}