@import './../../../../theme/constants.scss';

:host {
    --border-width: 2px;
}

@media screen and (min-width: 480px) {
    :host {
        --border-width: 3px;
    }
}


@media screen and (min-width: 768px) {
    :host {
        --border-width: 4px;
    }
}

.tile {
    border: solid black;
    border-width: 1px;
    background-color: white;
    height: 100%;

    &.top-border-thick {
        border-top-width: var(--border-width);
    }

    &.right-border-thick {
        border-right-width: var(--border-width);
    }

    &.bottom-border-thick {
        border-bottom-width: var(--border-width);
    }

    &.left-border-thick {
        border-left-width: var(--border-width);
    }

    &.focused {
        background-color: $light-blue;

        &.wrong {
            background-color: $light-red;
        }
    }

    &.variable-input {
        color: var(--ion-color-primary);

        &.wrong {
            color: var(--ion-color-danger);
        }
    }

    ion-input {
        --highlight-color-focused: unset;
        caret-color: rgba(0, 0, 0, 0);
        text-align: center;
        opacity: 1;
        height: 100%;
        min-height: unset;
        font-size: 7vw;
    }
}