@import './../../../../theme/constants.scss';

.sudoku-table-row {
    display: flex;
    aspect-ratio: 9/1;
    width: min(100%, $max-width);
    margin: auto;
    pointer-events: none;

    app-tile.enabled {
        pointer-events: all;
    }
}