<div class="page">
    <h1 class="title">Sudoku</h1>
    <div class="buttons-container">
        <app-button-text [text]="'Easy'" (click)="navigateToPlayPage(DifficultyLevel.Easy)"></app-button-text>
        <app-button-text [text]="'Medium'" (click)="navigateToPlayPage(DifficultyLevel.Medium)"></app-button-text>
        <app-button-text [text]="'Hard'" (click)="navigateToPlayPage(DifficultyLevel.Hard)"></app-button-text>
    </div>
    <ion-footer>
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <span>&nbsp;|&nbsp;</span>
        <a routerLink="/legal">Legal</a>
    </ion-footer>
</div>