@import './theme/constants.scss';

@font-face {
    font-family: 'Humaroid';
    src: url('assets/fonts/humaroid/humaroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Humaroid' !important;
    --ion-font-family: 'Humaroid' !important;
}

ion-modal {
    --height: 30%;
    --width: 70%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-alert {
    .alert-wrapper.sc-ion-alert-md {
        max-width: max-content;

        .alert-title.sc-ion-alert-md {
            font-size: 2rem;
        }

        .alert-message.sc-ion-alert-md {
            font-size: 1.25rem;
            max-width: 70vw;
        }

        .alert-title,
        .alert-message {
            text-align: center;
        }

        .alert-button-group.sc-ion-alert-md {
            justify-content: center;
            padding: 8px 16px 16px;

            .alert-button.sc-ion-alert-md {
                background-color: var(--ion-color-primary);
                color: white;
                border-radius: 64px;
                padding: 0 26px;
                font-size: 1.5rem;
                height: 27px;

                &:last-child {
                    margin-right: 0;
                }

                &.secondary-btn {
                    background-color: $gray;
                }
            }
        }
    }
}