@font-face {
    font-family: 'Humaroid';
    src: url('assets/fonts/humaroid/humaroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
ion-button,
app-tile .tile ion-input {
    font-family: 'Humaroid' !important;
}