@font-face {
    font-family: 'ChineseRocks';
    src: url('assets/fonts/chinese-rocks-free/chinese rocks rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
ion-button,
app-tile .tile ion-input {
    font-family: 'ChineseRocks' !important;
}