<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="content">
    <app-table [sudokuTable]="sudokuTable"></app-table>
    <app-on-screen-keyboard (keyPressed)="onKeyPressed($event)"></app-on-screen-keyboard>
</div>

<ion-footer>
    <app-button-text [text]="'Reset Game'" (click)="onResetClicked()"></app-button-text>
    <app-button-text [text]="'New Game'" (click)="onNewGameClicked()"></app-button-text>
</ion-footer>