@import './../../../../theme/constants.scss';

.keyboard {
    display: flex;

    .numbers {
        flex-grow: 1;
    }

    .edit {
        width: max(10%, 48px);

        ion-button {
            width: 100%;
            height: 100%;
            padding-bottom: 7px;
            font-size: 4.5vw;
        }
    }

    .row {
        display: flex;
        justify-content: space-around;
        aspect-ratio: 6/1;

        width: min(100%, $max-width);
        margin: auto;

        .key {
            flex: 1;
            font-size: 6vw;

            &.clear {
                font-size: 4.5vw;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            button {
                padding: 0 !important;
            }
        }
    }
}