@import './../../../theme/constants.scss';

:host {
    background-color: $light-gray;
}

ion-header {
    --ion-background-color: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;

    app-table {
        margin-bottom: 2rem;
    }

    app-on-screen-keyboard {
        width: 100%;
    }
}

ion-footer {
    padding: 1rem;
}

mat-spinner,
ion-spinner {
    margin: auto;
}

[hidden] {
    display: none !important;
}