@import './../../../theme/constants.scss';

:host {
    background-color: $light-gray;
}

ion-header {
    --ion-background-color: transparent;
}

ion-footer {
    padding: 1rem;
}

app-table {
    margin: auto;
}

mat-spinner,
ion-spinner {
    margin: auto;
}

[hidden] {
    display: none !important;
}